*{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(98, 14, 28);
    /* border:7px pink solid; */
    
}

#chef {
    display: block;
    margin: auto;
}

.mainHeader{
    text-align: center;
    font-size: 50px;
    
}

.mainMenu, .mainMenu * {
    list-style-type: none;
    display:flex;
    margin: auto;
}

.mainMenu li{
    padding-left: px;
    border-left:5px rgb(160, 160, 160) solid;
}

a{
    color: rgb(160, 160, 160);
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;

}